# Postgres
POSTGRES_USER=gitea
POSTGRES_PASSWORD=gitea
POSTGRES_DB=gitea

# pgAdmin
PGADMIN_DEFAULT_EMAIL=demo@example.com
PGADMIN_DEFAULT_PASSWORD=secret

# Gitea
GITEA__security__SECRET_KEY=kCJvxtwChEhlifqddd7aE34Q01KgyUjoAwxXTU8E9Isy3Tx7TBweyjK6XZeeICd9
GITEA__security__INTERNAL_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYmYiOjE3ODI5OTg2NzF9.5HhAtWXVk9Mw9o1p5F8Po05c2k_0mqGg3714jm_XJXI
GITEA_RUNNER_REGISTRATION_TOKEN=

#Drone
DRONE_RPC_SECRET=e161effe5340512b889c8c0942ea3217
DRONE_GITEA_CLIENT_ID=27f3cb81-679c-4f5c-9c9f-1c636d7b31d1
DRONE_GITEA_CLIENT_SECRET=gto_tbino632vuxbp26uea455ap3bj637bugg37vmtfrt77mcja6aafq

VERSION=1.0.0
API_DB=test_db